# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Python logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.sqlite3

